:root {
    --color-primary: #90A35A;
    --color-primary-alt: #576C1C;

    --color-positive: #fff;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: 'Comfortaa', cursive;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
    transition: all .2s ease-in;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.GlobalHeader {
    display: flex;
    background: var(--color-primary);
    color: var(--color-positive);
    &-stamp {
        background: var(--color-primary-alt);
        padding: 1em;
        font-weight: bold;
    }
    &-breadcrumbs {
        flex: 1 1 auto;
    }
}

.Breadcrumbs {
    color: var(--color-positive);
    &-list {
        display: flex;
    }
    &-link {
        display: block;
        padding: 1em;
        color: var(--color-positive);
        text-decoration: none;
        &:hover {
            background: var(--color-primary-alt);
        }
    }
}

.Section {
    padding: 3rem;
    &.is-stack {
        display: flex;
        gap: 2rem;
        flex-direction: column;
    }
}

.DeviceGroup {
    display: flex;
    &-device {
        flex: 0 0 320px;
        > * {
            height: 100%;
        }
    }
    &-figures {
        flex: 1 1 100%;
        display: flex;
        flex-wrap: wrap;
    }
}

.Devices {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.DeviceExcerpt {
    background: var(--color-primary);
    color: var(--color-positive);
    border: 2px solid var(--color-primary);
    &-inner {
        padding: 1em;
    }
    &-img {
        /* max-width: 320px; */
    }
}

